.wpstream_product_front{
    width:100%;
    padding: 10px;
    float:left;
}

.wpstream_product_wrapper{
    float:left;
}

.wpstream_product_image_wrapper{
    float: left;
    width: 100px;
    text-decoration: none;
  
}

.wpstream_product_front img{
    float: left;
    height: 75px!important;
    width: auto;
}

.wpstream_product_front:nth-child(even){
    background-color: #f8f6f6;
}

.wpstream_product_name_front{
    float: left;
    font-weight: bold;
    margin: 0px 0px 0px 30px;
    width:100%;
    text-decoration: none;
}
.wpstream_product_see:visited,
.wpstream_product_see{
    float:left;
    background-color: #e16767;
    color:#fff;
    padding: 2px 10px;
    cursor:pointer;
    margin: 10px 0px 0px 30px;
    font-size: 12px;
}

.wpstream_product_see:hover{
     background-color: #76b06c;
     color:#fff;
}


.wpstream_player_wrapper{
 
}

.wpstream_not_live_mess{
    position: absolute;
    top: 31%;
    left: 0;
    right: 0;
    z-index: 9;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.wpstream_not_live_mess_back{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity:0.5;
}


.wpstream_not_live_mess_mess{
    color: #fff;
    font-size: 20px;
    z-index: 10;
    position: relative;
}


.wpstream_player_container{
    height: 675px;
    max-width:1200px;
    margin: 0px auto;
}
.wpestream_inserted_player .wpstream_player_container{
    height: auto;
}

#wpstream-video{
    width: 100%;
}

.wpstream_notice{
    background-color: #e16767;
    color:#fff;
    padding: 2px 10px;
}

#wpstream_product_wrap{
   
}
#wpstream_product_wrap_no_buy{
    margin-top: 0px;
}

.wpstream_player_wrapper.no_buy{
    position:relative;
    height: 30px;
    position: relative;
    background: transparent;
    margin-bottom: 15px;
}

.wpstream_player_wrapper.no_buy .wpstream_player_container{
    height: 30px;
}

.wpstream_player_wrapper.wpstream_player_shortcode{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    float: left;
}
.wpstream_player_wrapper.wpstream_player_shortcode.no_buy{
    height: auto;
    float: left;
}

.wpstream_player_wrapper.wpstream_player_shortcode.no_buy .wpstream_player_container{
    height: auto;
}

.wpstream_player_wrapper.wpstream_player_shortcode.no_buy  .wpstream_notice{
    background: transparent;
    position: absolute;
    width:100%;
    top:45%;
    text-align:center;
     font-size: 22px;
}


.video-js .vjs-big-play-button {
    line-height: 70px!important;
    height: 70px!important;
    width: 120px!important;

    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    margin-left: -60px;
    margin-top: -35px;
}

.wpstream_get_download_link{
    display:none;
}

.vjs-youtube .vjs-poster {
    background-size: contain!important;
}

/*product list shortcode*/


.shortcode_list_wrapper{
    margin: 0px -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wpstream_product_unit{
    width: 25%;
    margin: 0px 10px;
}

.wpstream_product_unit .product_image{
    width: 100%;
    height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wpstream_product_unit .product_title{
    text-decoration: none!important;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
}

.wpstream_product_unit .see_product {
    text-decoration: none!important;
    font-size: 14px;
     color:#555;
}

.wpstream_live_player_wrapper{
    position:Relative;
}

.wpestream_live_counting{
    position: absolute;
    padding: 5px 10px;

    color: #fff;
    z-index: 99;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.wpstream_player_wrapper_sec .wpestream_live_counting{
    top: auto;
    bottom: 32px;
    display:none!important;
}